* text=auto

*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.properties text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.vue text eol=lf
*.js text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.svg text eol=lf
*.docx binary
*.pdf binary
*.zip binary
*.tar binary
*.gz binary
*.war binary
