[mysql]
# CLIENT #
port                           = 3306
socket                         = /var/run/mysqld/mysql.sock
prompt                         = \\u@\\h [\\d]>\\_
[mysqld]
# GENERAL #
user                           = mysql
port                           = 3306
default-storage-engine         = InnoDB
transaction-isolation          = READ-COMMITTED
socket                         = /var/run/mysqld/mysql.sock
pid-file                       = /var/run/mysqld/mysql.pid
wait_timeout                   = 31536000
interactive_timeout            = 31536000
# MyISAM #
key-buffer-size                = 32M
myisam-recover-options         = FORCE,BACKUP
# SAFETY #
max-allowed-packet             = 64M
max-connect-errors             = 1000000
skip-name-resolve
#sql-mode                       = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sql-mode                       = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE
lower_case_table_names         = 1
# DATA STORAGE #
datadir                        = /var/lib/mysql
# BINARY LOGGING #
log-bin                        = /var/lib/mysql/mysql-bin
expire-logs-days               = 14
sync-binlog                    = 1
# REPLICATION #
skip-slave-start               = 1
log-slave-updates              = 1
server-id                      = 13057
relay-log                      = /var/lib/mysql/relay-bin
slave-net-timeout              = 60
sync-master-info               = 1
sync-relay-log                 = 1
sync-relay-log-info            = 1
# CACHES AND LIMITS #
tmp_table_size                 = 134217728
max_heap_table_size            = 134217728
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 500
thread-cache-size              = 100
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 2048
# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-group-home-dir      = /var/lib/mysql
innodb_data_file_path          = ibdata1:256M:autoextend
innodb-log-files-in-group      = 2
innodb-log-file-size           = 128M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 1G
innodb_buffer_pool_instances   = 4
innodb_undo_directory          = /var/lib/mysql
innodb_undo_tablespaces        = 3
innodb_rollback_segments       = 1
# LOGGING #
log-error                      = /var/log/mysql/mysql-error.log
slow-query-log-file            = /var/log/mysql/mysql-slow.log
log-queries-not-using-indexes  = 1
slow-query-log                 = 1
[mysqldump]
quick
max_allowed_packet             = 4G
default_character_set          = utf8mb4
myisam_max_sort_file_size      = 10G
[myisamchk]
key_buffer_size                = 64M
sort_buffer_size               = 256K
read_buffer                    = 2M
write_buffer                   = 2M
[mysqlhotcopy]
interactive-timeout